ul{
    padding: 0;
}
p{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 55px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}
.navList1, .navList2{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}



.m-navItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    position: relative;
}

.m-navItem:nth-child(1){
    width: 120px;
    margin-right: 20px;
}
.m-navItem:nth-child(2){
    width: 100px;
    /* border-left: 2px solid black; */
}
.m-navItem:nth-child(3){
    width: 280px;
}
.m-navItem:nth-child(4){
    width: 120px;
}
.m-navItem:nth-child(5){
    width: 120px;
}
.m-navItem:nth-child(6){
    width: 150px;
}
.m-navItem:nth-child(7){
    width: 80px;
}
.m-navItem:nth-child(8){
    width: 120px;
}

.navList2 .m-navItem:nth-child(1){
    width: 120px;
    margin-right: 0;
}
.navList2 .m-navItem:nth-child(2){
    width: 50px;
}
.navList2 .m-navItem:nth-child(3){
    width: 50px;
}

.navAboutLineItem{
    display: flex; 
    align-items: center
}
.navAboutLine{
    height: 30px;
     width: 2px;
      background-color: black;
}


.logo{
    height: 23px;
    margin-bottom: 3px;
    margin-right: 10px;
}


.m-navbarLink{
    text-decoration: none;
    font-size: 13px;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.searchIcon{
    font-size: 20px;
}

.signIconDiv{
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 5px;
    padding: 5px 3px;
}
.signIconDiv::after{
    content: "\f234";
    font: normal normal normal 14px/1 FontAwesome;
    color: #C1C1C1;
    font-size: 20px;
    
}


nav li a:hover{
    text-decoration: 2px solid underline;
    color: black;
}






.navIcon{
    color: grey;
    
}

.m-dropDownButton::after{
    content: "";
    height: 7px;
    width: 7px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    margin: 4px;
}

.m-dropDownButton:hover{
    color: black;
}

.dropDownButton::after{
    content: "";
    height: 7px;
    width: 7px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    margin: 4px;
}
#m-dropDown{
    width: 90vw;
    background-color: #F2F2F2;
    position: absolute;
    z-index: 1;
    right: -150px;
    top: 50px;
    border: 1px solid #E6E6E6;;
}

#m-dropDown > div{
    display: flex;
    padding: 20px;
}


.m-dropDownList{
    list-style-type: none;
}

.m-dropDownList li{
    padding: 10px;
}

.m-dropDownList li a{
    text-decoration: none;
    color: black;
}
.m-dropDownList li:nth-child(1){
    font-weight: 500;
}

.dropdownList{
    list-style-type: none;
    position: absolute;
    top: 55px;
    background-color: #F2F2F2;
    width: 170%;
    left: 0;
    z-index: 2;
}
.dropdownList li{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.dropdownList li a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dropdownList li a:hover{
    background-color: #dfdcdc;
}
.clickedDropdown{
    background-color: #F2F2F2;
    border: 2px dashed black;
}







#m-dropDown div:nth-child(2){
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    border-bottom: 2px solid black;
}
.m-makeGrey{
    background-color: rgb(242, 242, 242);
}
.m-hidden{
    display: none;
}




.gamburgerWithSearch{
    display: none;
    align-items: center;
    height: 100%;
    padding: 5px;
}

#gamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 40px;
    margin-right: 10px;
    padding: 12px;
}
.gamburgerLine{
    height: 1px;
    width: 20px;
    background-color: black;
}

.gamburgerLine1_Change{
    transform: rotate(45deg) translate(6px, 3px);
}
.gamburgerLine2_Change{
    display: none;
}
.gamburgerLine3_Change{
    transform: rotate(-45deg) translate(3px, 0px)
}

.menuList{
    list-style-type: none;
    background-color: #F2F2F2;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -717px;
    z-index: 2;
    display: none;
    border-bottom: 1px solid black;
    padding: 0;
}
.menuList li{
    width: 100%;
    height: 50px;
    border-top: 1px solid #dfdcdc;
    
}

.menuList li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.menuList li a:hover{
    color: black;
    text-decoration: none;
}

.storiesList{
    position: relative;
    display: none;
}
.storiesList .dropdownList{
    top: 37px;
    width: 100%;
}
.storiesList a{
    padding: 5px;
    width: 250px;
    font-size: 15px;
    font-weight: 500;

}

.m-container{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.mainStartImg{
    width: 100%;
}

.onImageContext{
    color: white;
    width: 470px;
    position: absolute;
    top: 30%;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shopNowBtn{
    background-color: white;
    color: black;
    width: 280px;
    height: 40px;
    padding: 10px;

}
.shopNowBtn > p{
    margin: 0;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
}

.shopNowBtn:hover > p{
    margin-left: 12px;
    text-decoration: underline 2px solid black;
}
.shopNowBtn:hover > .arrowIcon{
    margin-left: 18px;
}
.arrowIcon{
    height: 10px;
    width: 10px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    transform: rotate(45deg);
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}



.underMainImageContainer{
    width: 90%;
    margin: 50px auto;
}

.underMainImageContainerContext{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
}

.underMainImageContainerImgDiv{
    display: flex;
    align-items: center;
}
.underMainImageContainerImg{
    width: 100%;
}

.cardLink{

    height: 40px;
    padding: 10px;
    padding-left: 0;

}

.blueArrowIcon{
height: 10px;
width: 10px;
border-right: 2px solid #0067B8;
border-top: 2px solid #0067B8;
transform: rotate(45deg);
margin-left: 10px;
transition: all 0.3s ease-in-out;
display: inline-block;
}

.cardLink > p{
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.cardLink:hover > p{
    text-decoration: underline 2px solid #0067B8;
}
.cardLink:hover > .blueArrowIcon{
    margin-left: 15px;
}



.m-featuresProgramsContainer{
    width: 90%;
    margin: 50px auto;
}


.m-featuresProgramsHeader{
    padding: 30px;
    padding-bottom: 15px;
    text-align: center; 
}

.m-featuresProgramsCard{
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 15px 0;
}
.m-featuresProgramsCard_body{
    padding: 0;

}


.weRichContainer{
    width: 100%;
    margin: 50px auto;
    padding-left: 7%;
}

.weRichContainerContext{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
}
.weRichContainerImgDiv{
    position: relative;
}
.weRichContainerImg{
    width: 100%;
}


.inclusiveThinkingContainer{
    width: 100%;
    margin: 50px auto;
    padding-right: 7%;
}

.inclusiveThinkingContainerContext{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
}
.inclusiveThinkingContainerImgDiv{
    position: relative;
}
.inclusiveThinkingContainerImg{
    width: 100%;
}




.socilIconsContainer{
    width: 90%;
    margin: 0 auto;
}

.socilIconsDiv{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
                                                    
                                                /* FOOTER */
footer{
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    padding: 0 5%;
    padding-top: 50px;
}

footer ul{
    list-style-type: none;
}
footer ul li{
    padding: 5px;
    padding-left: 0;
}

.footerGrid{
    row-gap: 30px;
}
footer ul li h4{
    font-size: 15px
}

footer a{
    color: grey;
    font-size: 11px;
    text-decoration: none;
}
footer a:hover{
    text-decoration: 1px solid underline black;
    color: grey;
}

.lastContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.footerLastList{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.footerLastList li{
    padding: 10px;
    padding-bottom: 0;
}
.languageSelect{
    display: flex;
    align-items: center;
}

.languageSelect .globeIcon{
    color: grey;
    font-size: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 1073px){
    .m-navItem:nth-child(6){
        display: none;
    }
}
@media only screen and (max-width: 1022px){
    .m-navItem:nth-child(5){
        display: none;
    }
}

@media only screen and (max-width: 992px){
    .lastContainer{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .footerLastList{
        padding-left: 0;
    }
    .footerLastList li{
        padding-left: 0;
    }
}




@media only screen and (max-width: 1083px){
    .m-container{
        width: 100%;
    }
    .onImageContext{
        width: 300px;
    }
    .mainStartImg{
        content: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWrH0w?ver=d793&q=90&m=8&h=609&w=1083&b=%23FFFFFFFF&l=f&x=1279&y=0&s=1921&d=1080&aim=true);
    }

   
}
@media only screen and (max-width: 992px){
    .weRichContainer{
        padding-left: 20px;
        overflow: hidden;
    }
    .inclusiveThinkingContainer{
        padding-right: 20px;
        overflow: hidden;
    }

    .weRichContainerImg{
        position: relative;
        right: -40px;
    }

    .inclusiveThinkingContainerImg{
        position: relative;
        left: -40px;
    }
}   


@media only screen and (max-width: 767px){
    .mainStartImg{
        content: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWrH0w?ver=d793&q=90&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=1278&y=0&s=1922&d=1080&aim=true);
    }
    .onImageContext{
        position: relative;
        background-color: #333333;
        width: 100%;
        left: 0;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .onImageContext p{
        text-align: center;
    }

    .weRichContainer, .inclusiveThinkingContainer{
        padding: 0;
    }
    .weRichContainerDiv {
        display: flex;
        flex-direction: column-reverse;
    }
    .weRichContainerContext, .inclusiveThinkingContainerContext{
        align-items: center;
        padding: 0 30px;
    }
    .weRichContainerContext p, .inclusiveThinkingContainerContext p, .inclusiveThinkingContainerContext h3{
        text-align: center;
    }
    .inclusiveThinkingContainerDiv{
        display: flex;
        flex-direction: column;
    }

    .weRichContainerImg{
        right: 0;
    }

    .inclusiveThinkingContainerImg{
        left: 0;
    }
}

@media only screen and (max-width: 540px){
    .mainStartImg{
        content: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWrH0w?ver=d793&q=90&m=8&h=303&w=539&b=%23FFFFFFFF&l=f&x=1279&y=0&s=1921&d=1080&aim=true);
    }
}


@media only screen and (max-width: 960px){
    .navList1 .m-navItem:nth-child(7), .navList1 .m-navItem:nth-child(8){
        display: none;
    }
    
}

@media only screen and (max-width: 860px){
    nav{
        width: 100%;
        padding-right: 30px;
        border-bottom: 1px solid #dfdcdc;
        align-items: center;
    }

    .navList1 .m-navItem{
        display: none;
    }
    .navList1 .m-navItem:nth-child(1){
        display: block;
    }
    .navList2 .m-navItem:nth-child(1), .navList2 .m-navItem:nth-child(2), .navList2 .m-navItem:nth-child(4), .navAboutLineItem{
        display: none;
    }
    .navList1{
        margin: 0 auto;
    }
    .gamburgerWithSearch{
        display: flex;
    }
    .active{
        display: block;
    }
    .storiesList{
        display: block;
    }




    
    


}